* {
    margin:auto 0;
    box-sizing: border-box;
}
.row{
height:100%;
align-items: center;
display: flex; justify-content: center; align-items: center; 
}

.row::after {
    content: "";
    clear: both;
    display:block;
}
    
[class*="col-"] {
float: left;
padding: 15px;
}
.col-1{
    width: 600px;
    position:relative;
    /*border:1px solid orange;*/
    margin-top:5%;
    display:inline-block;
    vertical-align:top;
    text-align: center;
}
.col-2{
    width: 800px;
    position:relative;
    margin-top:5%;
    display:inline-block;
    vertical-align:top;
    text-align: center;
}
#applogo{
    width:100%;
    align-items: center;
}

.button{
    margin-top:10px;
    font-size: 35px;
    font-family: tahoma;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    background: orange;
}
.button:hover{
    background: rgb(186,0,0);
}

.container{
    width: 40vmin;
    position: absolute;
    transform: translateX(-50%);
    left: 25%;
    top: 120px;
    background-color: rgb(219, 219, 219);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.tabs {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
h3 {
    font-size: 15px;
    background-color: rgb(231, 231, 231);
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
}
#add1 
{
    position:relative;
    margin-left:300px;
    padding-top:10px;
    margin-top:8px;
    right:10px;
    width:80%;
    height: auto;
    border:2px solid black;
}
#inlinecontents {
    display:inline-block;
    vertical-align:top;
    width: 300px;
    height: auto;
    padding:10px;
    margin-left: 10px;
    border:2px solid red;
}
    
@media only screen and (max-width: 768px) {
    [class*="col-"] {
    width: 100%;
    }      
    .col-1 
    {   width: 100%;
        margin-top:8%;
        text-align: center;
    }
    #csaLogo
    {
        position:relative;
        display:block;
        width:110px;
        height:110px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    }	
    #csaHead
    {
        position:relative;
        font-size:28px;
        font-family:tahoma;
        font-weight:bold;
        color:white;
        display:block;
        margin-left:auto;
        margin-right:auto;
        font-weight:bold;
        text-align:center;
    }
    .button{
        font-size: 35px;
        font-family: tahoma;
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        background: orange;
    }
    .button:hover{
        background: rgb(186,0,0);
    }
    #add1 
    {
        position:relative;
        margin-left:50px;
        padding-top:10px;
        margin-top:8px;
        right:10px;
        width: 100%;
        height:auto;
    }
    #inlinecontents {
        display:inline-block;
        vertical-align:top;
        width: 300px;
        height: auto;
        padding:10px;
        margin-left: 10px;
    }
}